%head

	%title AidData Sector Codes
	%link{ href: "//netdna.bootstrapcdn.com/bootswatch/2.3.0/cosmo/bootstrap.min.css", rel: "stylesheet"}
%body
	.container
		%h1.page-header Sector Codes

		%p#params
			Search:
			%input#text{ type: 'text', value: 'Text search...', onfocus: 'this.value=""' }
			Starts with:
			%input#prefix{ type: 'text', value: 'Starts with...', onfocus: 'this.value=""' }
			Ends with:
			%input#suffix{ type: 'text', value: 'Ends with...', onfocus: 'this.value=""' }



		%table#results.table
			%thead
				%tr
					%th Code
					%th Name
					%th Type
			%tbody

	%script{ src: "//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" }


	:coffee
		$('#params input').on('keyup', (e) -> search_codes() )

		search_codes = () ->
			# $('#params').css "background-color", "#ffe0e0"
			params = {}
			for input in $('#params input')
				if input.value.indexOf('...') == -1 and input.value != ''
					params[input.id] = input.value

			console.log params
			
			$.post("/codes", params, (data) ->
				data = $.parseJSON(data)
				console.log data
				new_rows = ("<tr>
								<td> "+d["code"]+"</td>
								<td> "+d["name"]+"</td>
								<td> "+d["type"]+"</td>
							</tr>
				" for d in data).join()

				# console.log new_rows

				$('#results tbody').html(new_rows)
				# $('#params').css "background-color", "inherit"
			)
	 
			


