!!!
%html{lang: "en"}
	%head

		%title AidData Sector Codes
		%link{ href: "//netdna.bootstrapcdn.com/bootswatch/2.3.0/cosmo/bootstrap.min.css", rel: "stylesheet"}
		%script{ src: "jquery.js" }
		%script{ src: "finch.js" }
		%script{ src: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" }	
		%script{ src: 'ga.js'}
		%script{ src: 'd3.js'}

		:css
			body {
				background-color: white;
			}

			.container {
				background-color: white;
				padding: 15px;
			}
			.info-menu .dropdown-menu {
				padding: 10px;
			}

			.code-example {				
			}

	=yield